In [1]:
a1 = 'This is my first String.'

In [2]:
print(a1)

This is my first String.

In [3]:
a2 = "This is my second String."

In [4]:
print(a2)

This is my second String.

In [5]:
a3 = '''This is my 
third 
String. 

It contains 
lot of 
lines.

'''

In [6]:
a3

'This is my \nthird \nString. \n\nIt contains \nlot of \nlines.\n\n'

In [7]:
my_string = "My name is John"

In [8]:
my_string

'My name is John'

In [9]:
# First character
my_string[0]

'M'

In [10]:
# Last character
my_string[-1]

'n'

In [11]:
my_string[8:12] # 12th value is not inclusive.

'is J'

In [12]:
len(my_string)

15

In [13]:
my_string.lower()

'my name is john'

In [14]:
my_string.upper()

'MY NAME IS JOHN'

In [15]:
my_string.replace('y', 'a')

'Ma name is John'

In [17]:
my_string.replace('is', 'are')

'My name are John'

In [18]:
new_string = "sparta sparta sparta 300 300 300 300 s"
new_string

'sparta sparta sparta 300 300 300 300 s'

In [19]:
new_string.count('sparta')

3

In [20]:
new_string.count('300')

4

In [21]:
new_string.count('s')

4

In [22]:
my_string

'My name is John'

In [23]:
my_string.find('J')

11

In [24]:
fruits = "I like Apples, Oranges, Banana"
fruits

'I like Apples, Oranges, Banana'

In [25]:
fruits.split(',')

['I like Apples', ' Oranges', ' Banana']

In [26]:
str_final = "President Obama is the best President of United States."
str_final

'President Obama is the best President of United States.'

In [27]:
str_final.split('e')

['Pr',
 'sid',
 'nt Obama is th',
 ' b',
 'st Pr',
 'sid',
 'nt of Unit',
 'd Stat',
 's.']