In [1]:
# Tuple / List / Dictionary / Set

In [2]:
# Tuple - Ordered collection of elements enclosed in ()
# Tuples are immutable
# Hetrogeneous values can be stored
# Tuples work simillar to Strings

In [3]:
tuple1 = (1, True, 3.14, 5-7j)

In [4]:
tuple1

(1, True, 3.14, (5-7j))

In [5]:
type(tuple1)

tuple

In [6]:
tuple1[0]

1

In [7]:
tuple1[2]

3.14

In [8]:
tuple1[-1]

(5-7j)

In [11]:
tuple1[0:2]

(1, True)

In [9]:
type(tuple1[2])

float

In [10]:
type(tuple1[3])

complex

In [12]:
tuple1[2] = "This is Sparta"

TypeError: 'tuple' object does not support item assignment

In [13]:
len(tuple1)

4

In [14]:
tuple2 = (1,2,3)

In [15]:
# Concatenate
tuple1 + tuple2

(1, True, 3.14, (5-7j), 1, 2, 3)

In [16]:
tuple3 = ("Sparta", 300)

In [17]:
tuple3

('Sparta', 300)

In [18]:
tuple3*5

('Sparta', 300, 'Sparta', 300, 'Sparta', 300, 'Sparta', 300, 'Sparta', 300)

In [19]:
tuple1*3 + tuple2

(1, True, 3.14, (5-7j), 1, True, 3.14, (5-7j), 1, True, 3.14, (5-7j), 1, 2, 3)

In [20]:
tuple_1 = (1,2,3,4,5)

In [21]:
min(tuple_1)

1

In [22]:
max(tuple_1)

5